# Die Root URL ihrer Installation, bspw. "https://forschungsarbeitboerse.example.com"
url = "http://127.0.0.1:4444"

# Socket IP Adresse und Port
addr = "127.0.0.1:4444"

# Ein individuelles 32 Byte Cookie Secret in hexadezimaler Notation;
# `forschungsarbeitboerse -gen-cookie-secret`
cookie_secret = ""

# SMTP Zugangsdaten zur Versendung der administrativen E-Mails
smtp_user = "example@example.com"
smtp_pass = "SECRET"
smtp_host = "mail.example.com"
smtp_port = "587"
smtp_mail_from = "noreply@example.com"

# E-Mail Adressen (RegExp, https://pkg.go.dev/regexp/syntax), für die
# Nutzer:innen das Angebot selbst freischalten dürfen; alle anderen
# Angebote erfordern eine Freischaltung durch die Administratoren
valid_mail_regexp = [".+@example.com"]

# E-Mail Adresse der Administratoren
admin_email = "admins@example.com"

# Auswahl Art der Arbeit
posting_categories = [
	"Doktorarbeit",
	"Forschungsarbeit",
]

# Auswahl Typ der Arbeit
posting_types = [
	"experimentell",
	"tierexperimentell",
	"klinisch",
	"statistisch",
	"theoretisch",
]

# Im Menü angezeigter Titeltext
title_text = "Forschungsarbeitbörse"

# Auf der Startseite angezeigter Infotext (Markdown)
info_text = """
Auf der **Forschungs- und Doktorarbeitbörse** können Sie unkompliziert
und ohne Registrierung Angebote für wissenschaftliche Arbeiten finden
und einstellen. Die Freischaltung und Administration erfolgt über E-Mail.
"""

# Der Footer Text (Markdown)
footer_text = """
Kontakt & Hilfe: <forschungsarbeitboerse@example.com>
"""
